@model IEnumerable <ArtistReview.Web.Areas.Administrator.Models.Category.DetailsCategoryViewModel>
@using Kendo.Mvc.UI
@{
	ViewBag.Title = "Categories Index";
}

@(Html.Kendo()
	.Grid(Model)
		.Name("ModeratorGrid")
		.Columns(columns =>
		{
			columns.Bound(col => col.ImagePath).ClientTemplate("<img src=#: ImagePath # />").Width(150);
			columns.Bound(col => col.Name).ClientTemplate("<a href='" + @Url.Action("Details", "Categories", new { area = "Administrator" }) + "/#= Id #'" + ">#= Name #</a>");
			columns.Bound(col => col.Description);
			columns.Command(command => { command.Edit(); command.Destroy(); });
		})
		.ToolBar(toolbar => toolbar.Create())
		.Editable(editable => editable.Mode(GridEditMode.PopUp))
		.Pageable()
		.Sortable()
		.Filterable(ftb => ftb.Mode(GridFilterMode.Row))
		.DataSource(data =>
		data
		.Ajax()
		.PageSize(3)
		.Model(model => model.Id(c => c.Id))
		.Read(read => read.Action("Read", "Categories", new { area = "Administrator"}))
		.Create(create => create.Action("Create", "Categories", new { area = "Administrator" }))
		.Update(update => update.Action("Update", "Categories", new { area = "Administrator" }))
		.Destroy(destroy => destroy.Action("Destroy", "Categories", new { area = "Administrator" }))
		))


