@model ArtistReview.Web.ViewModels.Home.IndexViewModel
@{
	ViewBag.Title = "Home Page";
}
<div class="row">
    @Html.Action("Index", "PagingCategory", new {profId = ViewData["PageProfil"], pageId = ViewData["PageCategory"]})
</div>
<div class="row">

</div>
<div class="row">
    @Html.Action("Index", "PagingProfile", new { catId = ViewData["PageCategory"], pageId = ViewData["PageProfil"] })
</div>
